.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.swapBtn {
  background-color: #ffb703;
  transition: background-color 0.2s ease;
  border: none;
  border-radius: 50%;
  z-index: 1;
}

.swapBtn svg {
  transform: rotate(90deg);
  transition: color 0.2s ease;
  color: #023047;
  height: 112px;
  width: 100px;
}

.blueBackground {
  background-color: #023047;
  transition: background-color 0.2s ease;
  border-radius: 50%;
  height: 132px;
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styles for screens smaller than 600px (below 'sm' breakpoint) */
@media (max-width: 599px) {
  .swapBtn svg {
    height: 72px;
    width: 60px;
  }
  .blueBackground {
    height: 92px;
    width: 88px;
  }
}

/** ---------------------HOVER---------------**/

.swapBtn:hover svg {
  color: white;
}

.swapBtn:hover {
  background-color: black;
  cursor: pointer;
}

.swapBtn:hover,
.swapBtn:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}
