.inputDiv {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: relative;
}

.inputBox {
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  font-size: 80px;
  flex: 1;
  text-align: center;
}

.inputBox:focus {
  outline: none;
}

.clearButton {
  background-color: transparent;
  border: none;
  font-size: 80px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  padding: 5px 10px;
  cursor: pointer;
}

.clearButton:hover{
  background-color: red;
}
