.toContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 54%;
}

.toMenu {
  background-color: #ffb703;
  width: 100vh;
}
