.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.fromContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 54%;
  height: 10px;
}
/**-------------------TITLE------------------------**/
.title {
  text-align: center;
  color: #ffb703;
}

/* Styles for screens smaller than 600px (below 'sm' breakpoint) */
@media (max-width: 599px) {
  .title {
    font-size: 22px; /* Smaller font size for smaller screens */
  }
}

.fromMenu {
  background-color: #023047;
  width: 100vh;
}

.toMenu {
  background-color: #ffb703;
  width: 100vh;
}
